<mat-toolbar color="primary">
        <div fxHide.gt-xs>
            <button mat-icon-button >
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div>
        <h1>Gestion Commande</h1> 
        </div>
        
      </mat-toolbar>
<form [formGroup]="this.service.formData" (ngSubmit)="onSubmit()">
    <input  type="hidden"  class="form-control" formControlName="lib_client" id="lib_client" >
    <div class="form-group row col-md-12">
      <div class="form-group col-md-6">
          <label><strong>Num Commande : </strong></label>
          <input  type="text"  class="form-control" formControlName="numero" id="numero" readonly>
      </div>  
      <div class="col-md-6 form-group">
            <label>Date</label>
          <input  type="date"  class="form-control" formControlName="date_comm"  id="date_comm">
      </div>
      <div class="col-md-6 form-group">
        <label>Client</label>
        <select name="code_client" class="form-control" formControlName="code_client" id="code_client" 
        (change)="OnSelectClient($event)">
        <option value="0">-Select-</option>
        <option *ngFor="let client of this.ClientList" value="{{client.code}}">{{client.libelle}}</option>
        </select>
      </div>
      <div class="col-md-6">
          <label>Libelle</label>
          <input class="form-control" formControlName="libelle" id="libelle">
      </div>
      </div>
      <table class="table table-borderless">
        <thead class="thead-light">
          <th>Code_article</th>
          <th>Article</th>
          <th>Pu</th>
          <th>Quantite</th>
          <th>Tva</th>
          <th>Total Ht</th>
          <th>
            <a class="btn btn-sm btn-success text-white" (click)="AddData(null,1)">
                <i class="fa fa-plus"></i>Ajouter </a>
          </th>
        </thead>
        <tbody>
            <tr *ngIf="service.list.length==0" 
             [class.text-danger]="!isValid && service.list.length ==0">
                <td class="font-italic text-center" colspan="5">
                  Aucune Commande sélectionnée ...
                </td>
              </tr>
          <tr *ngFor="let item of service.list;let i=index;">
          <td>{{item.code_article}}</td>  
          <td>{{item.libart}}</td>
          <td>{{item.pu}}</td>
          <td>{{item.qte}}</td>
          <td>{{item.tva}}</td>
          <td>{{item.totht}}</td>
          <td>
              <a class="btn btn-sm btn-info text-white" (click)="AddData(i,1)">
                  <i class="fa fa-pencil"></i></a>
              <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDelete(item,item.id,i)">
                  <i class="fa fa-trash"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="form-group row">
            <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="form-group">
                <label>Total Ht : </label>
                <input type="text" class="form-control" id="totht" formControlName="totht" readonly>
            </div>
            </div> 
            <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="form-group">
                <label>Total Tva  : </label>
                <input type="text" class="form-control" id="tottva" formControlName="tottva" readonly>
            </div>
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="form-group">
            <label>Total TTC : </label>
            <input type="text" class="form-control" id="totttc" formControlName="totttc" readonly>
            </div>
            </div>        
         </div>
      <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-outline-dark ml-1" routerLink="/lcomm"><i class="fa fa-plus-square"></i> Liste </a>
     </div>
  </form> 
