<div class="row">

    <div class="col-md-12 col-md-offset-2">
      <h1>Client </h1>
      <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
        <input type="hidden"  formControlName="id" id="id">
        
        <div class="form-group">
          <label>Libelle</label>
          <input type="text" class="form-control" formControlName="libelle" id="libelle">
          
        </div>
        <div class="form-group">
            <label>adresse</label>
            <input type="text" class="form-control" formControlName="adresse" id="adresse">
           
          </div>
          <div class="form-group">
            <label>Telephone</label>
            <input type="text" class="form-control" formControlName="tel" id="tel">
            
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input type="text" class="form-control" formControlName="email" id="email">
            
          </div>
          <div class="form-group">
            <label>fax</label>
            <input type="text" class="form-control" formControlName="fax" id="fax">
            
          </div> 
          <div class="form-group">
            <label>login</label>
            <input type="text" class="form-control" formControlName="login" id="login">
            
          </div>
           <div class="form-group">
            <label>mot de passe</label>
            <input type="password" class="form-control" formControlName="pwd" id="pwd">
           
          </div>
        <button class="btn btn-primary">Save</button>
        
      </form>
    </div>
  </div>



