div.scroll
{

height:500PX;
FLOAT: left;

padding: 1%;
overflow:scroll;
}
h1
{
    font-size: 80px; 
    text-align: center;
    /* Titres de 40 pixels */
}
label
{
    font-weight: bold;

   color :"#0000FF";

}

div.scroll
{

height:500PX;
FLOAT: left;

padding: 1%;
overflow:scroll;
}
h1
{
    font-size: 40px; 
    text-align: center;
    /* Titres de 40 pixels */
}
th
{
    font-size: 18px; 
    text-align: center;
    /* Titres de 40 pixels */
}
label
{
    font-weight: bold;

   color :"#0000FF";

}