
<body>
	<!-- Page Preloder -->

	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-md-2 text-center text-lg-left">
						<!-- logo -->
						<a href="" class="site-logo">
							<img src="assets/img/poste1.jpg" alt=" ">
						</a>
					</div>
					<div class="col-xl-10 col-md-6 text-lg-center">
							<h1 class="mb-4 pb-0">La Poste </h1>
					</div>
					<div class="col-xl-10 col-md-4 text-lg-right">
					        <span class="profile-ava">
                                <img alt="" src="assets/img/avatar-mini4.jpg">
                            </span>
                            <span class="username"><h3>{{name}}</h3></span>
                            <b class="caret"></b>
                    </div>
				</div>
			</div>
		</div>
	
			
			
		<nav class="main-navbar">
			<div class="container">
				<!-- menu -->
				<ul class="main-menu">
					<li><a>Parametre</a>
						<ul class="sub-menu">
							<li >
								<a routerLink ="/clients" routerLinkActive="active">
								Client</a> </li>
							<li >
								<a routerLink ="/fournisseurs" routerLinkActive="active">
								Fournisseur</a> </li>
							<li>
								<a routerLink ="/categories" routerLinkActive="active">
								Categorie</a> </li>
							<li>
								<a routerLink ="/scategories" routerLinkActive="active">
								Scatégorie</a> </li>
							<li>
								<a routerLink ="/articles" routerLinkActive="active">
								Article</a> </li>
							<li>
							
							<li>
							<a routerLink ="/tvas" routerLinkActive="active">
							TVA</a> </li>
							<li>
							<a routerLink ="/parametres" routerLinkActive="active">
							Parametre</a> </li>
							<li>
							<a routerLink ="/depots" routerLinkActive="active">
								Dépots</a> </li>
							

						</ul>
					</li>
					<li><a>Achat</a>
						<ul class="sub-menu">
								<li class="nav-item">
										<a routerLink ="/commf" routerLinkActive="active">
										Commande</a> </li>
							<li class="nav-item">
								<a routerLink ="/livrf" >
								Bon Réception</a> </li>
							<li class="nav-item" >
								<a routerLink ="/fac" >
								Facture</a> </li>
							<li class="nav-item" >
									<a routerLink ="/envoi" >
									Avoir</a> </li>
							<li class="nav-item" >
										<a routerLink ="/envoi" >
								Decalaration TVA</a> </li>
						</ul>
					</li>
					<li><a>Vente</a>
						<ul class="sub-menu">
							<li class="nav-item">
								<a routerLink ="/comm" routerLinkActive="active">
								Devis</a> </li>
							<li class="nav-item">
										<a routerLink ="/comm" routerLinkActive="active">
										Devis Service</a> </li>
							<li class="nav-item">
								<a routerLink ="/comm" routerLinkActive="active">
								Facture ProFormat</a> </li>
							<li class="nav-item">
								<a routerLink ="/comm" routerLinkActive="active">
								Commande</a> </li>
							<li class="nav-item">
										<a routerLink ="/comms" routerLinkActive="active">
										Commande Service</a> </li>
							<li class="nav-item">
								<a routerLink ="/livr" >
								Bon Livraison</a> </li>
								<li class="nav-item">
										<a routerLink ="/livrs" >
										Livraison Service</a> </li>
							<li class="nav-item" >
								<a routerLink ="/fact" >
								Facture</a> </li>
							<li class="nav-item" >
									<a routerLink ="/avoir" >
									Avoir</a> </li>
							<li class="nav-item" >
										<a routerLink ="/tva" >
								Decalaration TVA</a> </li>
						</ul>
					</li>
					<li><a>Mouvement</a>
						<ul class="sub-menu">
								<li class="nav-item">
										<a routerLink ="/entree" routerLinkActive="active">
										Entrée</a> </li>
							<li class="nav-item">
								<a routerLink ="/sortie" >
								Sortie</a> </li>
							
						</ul>
					</li>	
					<li><a>Reglement</a>
						<ul class="sub-menu">
							<li class="nav-item">
								<a routerLink ="/regc" routerLinkActive="active">
								Reglement Client</a> </li>
							<li class="nav-item" >
								<a routerLink ="/envoi" >
									Suivi client</a> </li>
							<li class="nav-item" >
								<a routerLink ="/envoi" >
								Echeancier client</a> </li>
								<li class="nav-item" >
								<a routerLink ="/envoi" >
								Echeancier client</a> </li>
							<li class="nav-item">
								<a routerLink ="/regf" >
								Reglement Fournisseur</a> </li>
								<li class="nav-item" >
								<a routerLink ="/envoi" >
								Suivi Fournisseur</a> </li>
							<li class="nav-item" >
								<a routerLink ="/envoi" >
								Echancier  Fournisseur</a> </li>	
							<li class="nav-item" >
								<a routerLink ="/fac" >
								Suivi Gloabl</a>  </li>
							
							
						</ul>
					</li>
					<li><a>Mouvement</a>
						<ul class="sub-menu">
								<li class="nav-item">
										<a routerLink ="/entree" routerLinkActive="active">
										Entrée</a> </li>
							<li class="nav-item">
								<a routerLink ="/sortie" >
								Sortie</a> </li>
							
						</ul>
					</li>				
					<li><a class="btn btn-sm btn-success text-white" (click)="logout()"><i class="fa fa-plus"></i>Logout </a></li>
					
					
				</ul>
			</div>
		</nav>
	</header>

        <div class="container">
            <router-outlet>
            
              </router-outlet>
			</div>
			<section class="footer-section">
				<div class="container">
					<div class="footer-logo text-center">
						<a href="index.html"><img src="assets/img/bd.png" style = "height :100px;width:100px"alt="Logo"></a>
					</div>
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<div class="footer-widget about-widget">
								<h2>Vos Produits et Services</h2>
								<p>Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.</p>
								<img src="assets/img/cards.png" alt="">
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="footer-widget about-widget">
								<h2>Questions</h2>
								<ul>
									<li><a href="">About Us</a></li>
									<li><a href="">Track Orders</a></li>
									<li><a href="">Returns</a></li>
									<li><a href="">Jobs</a></li>
									<li><a href="">Shipping</a></li>
									<li><a href="">Blog</a></li>
								</ul>
								<ul>
									<li><a href="">Partners</a></li>
									<li><a href="">Bloggers</a></li>
									<li><a href="">Support</a></li>
									<li><a href="">Terms of Use</a></li>
									<li><a href="">Press</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="footer-widget about-widget">
								<h2>Questions</h2>
								<div class="fw-latest-post-widget">
									<div class="lp-item">
										<div class="lp-thumb set-bg" data-setbg="assets/img/blog-thumbs/1.jpg"></div>
										<div class="lp-content">
											<h6>what shoes to wear</h6>
											<span>Oct 21, 2018</span>
											<a href="#" class="readmore">Read More</a>
										</div>
									</div>
									<div class="lp-item">
										<div class="lp-thumb set-bg" data-setbg="assets/img/blog-thumbs/2.jpg"></div>
										<div class="lp-content">
											<h6>trends this year</h6>
											<span>Oct 21, 2018</span>
											<a href="#" class="readmore">Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="footer-widget contact-widget">
								<h2>Questions</h2>
								<div class="con-info">
									<span>C.</span>
									<p>Your Company Ltd </p>
								</div>
								<div class="con-info">
									<span>B.</span>
									<p>1481 Creekside Lane  Avila Beach, CA 93424, P.O. BOX 68 </p>
								</div>
								<div class="con-info">
									<span>T.</span>
									<p>+53 345 7953 32453</p>
								</div>
								<div class="con-info">
									<span>E.</span>
									<p>office@youremail.com</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="social-links-warp">
					<div class="container">
						<div class="social-links">
							<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
							<a href="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
							<a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
							<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
							<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
							<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
							<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
						</div>
		
		<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> 
		<p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
		<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		
					</div>
				</div>
			</section>

	
	</body>


