<mat-toolbar color="primary">
        <div fxHide.gt-xs>
            <button mat-icon-button >
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div>
          Liste Article
        </div>
        <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
            <ul fxLayout fxLayoutGap="15px" class="navigation-items">
              <li>
                    <a class="btn btn-sm btn-success text-white pull-right" (click)="addclient()">
                        <i class="fa fa-plus"></i>Add Client </a>
              </li>
                <li>
                    <a routerLink="/account">Log Out</a>
                </li>
            </ul>
        </div>
      </mat-toolbar>
    
       <div class="col-md-12 col-md-offset-2">
         <div class="table-responsive">
          <table class="table table-bordered table-responsive-sm table-responsive-md
         table-responsive-lg">
          <thead>
          <tr>
          <th scope="col">id</th>
          <th scope="col">libelle</th>
          <th scope="col">adresse</th>
          <th class="text-center" scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of listData ">
          <th>{{item.id}}</th>
          <td>{{item.libelle}}</td>
          <td>{{item.adresse}}</td>
          <td><button class="btn btn-warning" style="margin-left: 20px;" (click) = "selectData(item)">
            <i class="fa fa-pencil-square-o" ></i></button></td>
         <td><button class="btn btn-danger" (click) = "removeData(item.id)">
            <i class="fa fa-trash-o"></i></button></td>
             </tr>
               </tbody>
               </table>
               </div>
             </div>
    
    
    
    