<h4 class="dislay-4">Commande </h4>
<hr>
<form #form="ngForm" autocomplete="off"  (submit)="onSubmit(form)">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="formData.id">
    <input type="hidden" name="numero" #numero="ngModel" [(ngModel)]="formData.numero">
    <input type="hidden" name="libart" #libart="ngModel" [(ngModel)]="formData.libart">
    <div class="form-group">
      <label>Article </label>
      <select  class="form-control" name="code_article" #code_article="ngModel" [(ngModel)]="formData.code_article" 
       (change)="selectPrice($event.target)">
          <option value="0">-Select-</option>
          <option *ngFor="let item of articleList" value="{{item.code}}">{{item.libelle}}</option>
     </select>
  </div>
 <div class="form-group">
    <label>Prix Unitaire : </label>
    <div class="input-group">
          <input class="form-control" name="pu" #pu="ngModel" [(ngModel)]="formData.pu" readonly >
    </div>
  </div>

    <div class="form-group">
       <label>Quantité</label>
      <div class="input-group">
        <input name="qte"  class="form-control" name="qte" #qte="ngModel" [(ngModel)]="formData.qte" (keyup)="calcul()"
        [class.is-invalid]="!isValid && formData.qte==0">

      </div>
    </div>
     
    
    <div class="form-group">
      <label>Totht </label>
      <div class="input-group">
        <input class="form-control" name="total" #total="ngModel" [(ngModel)]="formData.total" readonly>
     </div>
    </div>
    
   
    <div class="form-group">
      <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
      <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
    </div>
  
</form>
